.post-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-container {
  padding-right: 20em;
  padding-left: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-date {
  color: var(--caption-color);
}
.post-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.headliner,
.venue {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.post-details {
  max-width: 680px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  color: rgba(14, 30, 37, 0.54);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 24px;
  min-width: 264px;
  padding: 12px;
}
